---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Image Build

on:
  workflow_call:
    inputs:
      app:
        type: string
        description: The name of the app to build
        required: true
      version:
        type: string
        description: The version of the app to build
        required: true
      release:
        type: boolean
        description: Whether to release the app
        required: true

jobs:
  build:
    name: Build ${{ inputs.app }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      matrix:
        platform: ["amd64", "arm64"]
      fail-fast: false
    outputs:
      amd64: ${{ steps.digest.outputs.amd64 }}
      arm64: ${{ steps.digest.outputs.arm64 }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          build-args: |
            VENDOR=${{ github.repository_owner }}
            VERSION=${{ inputs.version }}
            REVISION=${{ github.sha }}
          cache-from: |
            ${{ format('type=registry,ref=ghcr.io/{0}/build_cache:{1}-{2},mode=max', github.repository_owner, inputs.app, matrix.platform) }}
          cache-to: |
            ${{ inputs.release && format('type=registry,ref=ghcr.io/{0}/build_cache:{1}-{2}', github.repository_owner, inputs.app, matrix.platform) || '' }}
          labels: |
            org.opencontainers.image.title=${{ inputs.app }}
            org.opencontainers.image.url=https://ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}
            org.opencontainers.image.version=${{ inputs.version }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
          outputs: |
            type=docker
            ${{ inputs.release && format('type=image,name=ghcr.io/{0}/{1},push-by-digest=true,name-canonical=true,push=true', github.repository_owner, inputs.app) || '' }}
          context: ./apps/${{ inputs.app }}
          platforms: linux/${{ matrix.platform }}
          provenance: false

      - name: Determine Testing Tool
        id: test
        run: |
          if yq --exit-status '.schemaVersion' ./apps/${{ inputs.app }}/tests.yaml &>/dev/null; then
              echo "tool=cst" >> $GITHUB_OUTPUT
          else
              echo "tool=goss" >> $GITHUB_OUTPUT
          fi

      - if: ${{ steps.test.outputs.tool == 'cst' }}
        name: Run container-structure-test
        uses: docker://ghcr.io/googlecontainertools/container-structure-test:1.21.1
        with:
          args: test --image ${{ steps.build.outputs.imageid }} --config ./apps/${{ inputs.app }}/tests.yaml

      - if: ${{ steps.test.outputs.tool == 'goss' }}
        name: Setup goss
        uses: mlipscombe/goss-installation-action@a440e50e0ca070a5b84fc4b99a4e2bc7f9390201 # v1.2.2
        with:
          version: latest

      - if: ${{ steps.test.outputs.tool == 'goss' }}
        name: Run goss
        env:
          CONTAINER_RUNTIME: docker
          GOSS_FILE: ./apps/${{ inputs.app }}/tests.yaml
          GOSS_OPTS: --retry-timeout 60s --sleep 2s --color --format documentation
          GOSS_SLEEP: 2
          GOSS_FILES_STRATEGY: cp
          CONTAINER_LOG_OUTPUT: goss_container_log_output
        run: |
          dgoss run ${{ steps.build.outputs.imageid }}

      - if: ${{ inputs.release }}
        name: Export Digest
        id: digest
        run: |
          echo "${{ matrix.platform }}=${{ steps.build.outputs.digest }}" >> $GITHUB_OUTPUT

  release:
    if: ${{ inputs.release }}
    needs: build
    name: Release ${{ inputs.app }}
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.digest.outputs.digest }}
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 22.x

      - name: Install Semver
        run: npm install semver

      - name: Determine Definitive Version
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: version
        with:
          script: |
            const semver = require('semver');

            function sanitizeInputVersion(version) {
                return version.split('-')[0]; // Remove any pre-release suffixes
            }

            const version = '${{ inputs.version }}';
            const validSemverRegex = /^v?(\d+(\.\d+)?(\.\d+)?)/;
            const date = new Date();
            const parsedVersion = validSemverRegex.exec(version);
            const validSemver = parsedVersion !== null;

            const parsedSemver = validSemver ? semver.coerce(parsedVersion[0]) : null;
            const outputVersion = validSemver
                ? `${parsedSemver.major}.${parsedSemver.minor}.${parsedSemver.patch}`
                : `${date.getFullYear()}.${date.getMonth() + 1}.${date.getDate()}`;

            const sanitizedInputVersion = validSemver ? sanitizeInputVersion(version) : version;

            core.setOutput('version', outputVersion);
            core.setOutput('validSemver', validSemver);
            core.setOutput('sanitizedInputVersion', sanitizedInputVersion);

      - name: Build Meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          flavor: latest=false
          images: ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}
          tags: |
            type=semver,pattern={{version}},value=${{ steps.version.outputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ steps.version.outputs.version }},enable=${{ steps.version.outputs.validSemver }}
            type=semver,pattern={{major}},value=${{ steps.version.outputs.version }},enable=${{ steps.version.outputs.validSemver }}
            type=raw,value=${{ steps.version.outputs.sanitizedInputVersion }},enable=${{ steps.version.outputs.validSemver }}
            type=raw,value=rolling

      - name: Push Images
        id: push
        uses: Noelware/docker-manifest-action@65660a0ebf876a67d8374f1ff4c3ae5b7a3aeb50 # 1.0.0
        with:
          tags: ${{ join(fromJSON(steps.meta.outputs.json).tags, ',') }}
          inputs: >-
            ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}@${{ needs.build.outputs.amd64 }},
            ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}@${{ needs.build.outputs.arm64 }}
          push: true

      - name: Export Digest
        id: digest
        run: |
          digest=$(echo "${{ steps.push.outputs.images }}" | grep -oE 'sha256:[a-f0-9]{64}' | head -n1)
          echo "digest=${digest}" >> $GITHUB_OUTPUT

  sign:
    if: ${{ inputs.release }}
    needs: release
    name: Sign ${{ inputs.app }}
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@7e8b541eb2e61bf99390e1afd4be13a184e9ebc5 # v3.10.1

      - name: Sign Digest
        run: cosign sign --yes ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}@${{ needs.release.outputs.digest }}

  attest:
    if: ${{ inputs.release }}
    needs: release
    name: Attest ${{ inputs.app }}
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Generate SBOM
        uses: anchore/sbom-action@43a17d6e7add2b5535efe4dcae9952337c479a93 # v0.20.11
        with:
          format: spdx-json
          image: ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}@${{ needs.release.outputs.digest }}
          output-file: ${{ inputs.app }}-sbom.spdx.json

      - name: Scan SBOM
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v7.2.1
        id: scan
        with:
          cache-db: true
          fail-build: false
          sbom: ${{ inputs.app }}-sbom.spdx.json

      - name: Attest
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        id: attest
        with:
          push-to-registry: true
          sbom-path: ${{ inputs.app }}-sbom.spdx.json
          subject-name: ghcr.io/${{ github.repository_owner }}/${{ inputs.app }}
          subject-digest: ${{ needs.release.outputs.digest }}

      - name: Upload SARIF Report
        uses: github/codeql-action/upload-sarif@bffd034ab1518ad839a542b8a7356e13a240e076 # v3.31.7
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}

  notify:
    if: ${{ inputs.release && !cancelled() }}
    needs: ["build", "release", "sign", "attest"]
    name: Notify
    runs-on: ubuntu-latest
    steps:
      - if: ${{ contains(needs.*.result, 'failure') }}
        name: Send Discord Webhook
        uses: sarisia/actions-status-discord@b8381b25576cb341b2af39926ab42c5056cc44ed # v1.15.5
        with:
          color: "0xFF0000"
          description: |
            Application: `${{ inputs.app }}`
            Version: `${{ inputs.version }}`
            [Rebuild](${{ github.server_url }}/${{ github.repository }}/actions/workflows/release.yaml)
          nodetail: true
          title: Container build failed
          username: GitHub Actions
          url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
